/* This is an example CSS file, feel free to remove/edit it anytime */
body{
  background-color:#C8E6C9;
}

.card{   
  position:absolute;
  top: 50%;   
  left: 50%;   
  transform: translate(-50%, -50%);   
  width: 60rem;   
  height: 30rem;   
  background-color: white;   
  border-radius: 20px;   
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.email{
  align-items: center;
  position: absolute;
  width:15rem;
  height:20rem;
  font-size: small;
  background-color: #2E7D32;
  margin: 0;
  color: white;
  border-top-left-radius: 20px;
}

.social{
  position: absolute;
  bottom: 0; /* Position it at the bottom */
  left: 0; /* Position it at the left */
  width: 15rem;
  color: white;
  font-size: small;
  height: 8rem;
  background-color: #2E7D32;
  border-bottom-left-radius: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}

.email-icon{
  float: left;
  padding-right: 5px;
}

.phone-icon{
  float: left;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .card {
    width: 75%;
  }
}

.titleEmail{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
  line-height: 1.1em;
  margin-top: 14em;
}

.phone{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
  line-height: 1.1em;
  margin-top: 2em;
}

.social-find{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 20px;
}

.social-icons{
  margin-left: 20px;
}

.profile-pic{
  height: 400px;
  position: absolute;
  margin-left: 11em;
  margin-top: 1.5em;
  top: 0;
}